<div class="card header-margin">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Client</strong>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label">{{data.clientAccount}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <strong>Client Account</strong>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label">{{data.clientAccountNo}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <strong>Credit Note No.</strong>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label">{{data.name}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <strong>Customer</strong>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label">{{data.customer}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <strong>Currency</strong>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label">{{data.currencyIsoCode}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <strong>Applied Invoice</strong>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label">{{data.appliedInvoice}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <strong>Client Remarks</strong>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label">{{data.clientRemarks}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <strong>OPS Remarks</strong>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label">{{data.opsRemarks}}</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-5">
                        <strong>Status</strong>
                    </div>
                    <div class="col-md-7">
                        <label class="col-form-label">{{data.status}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <strong>Schedule of Offer</strong>
                    </div>
                    <div class="col-md-7">
                        <label class="col-form-label">{{data.scheduleOfOffer}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <strong>Credit Note Date</strong>
                    </div>
                    <div class="col-md-7">
                        <label class="col-form-label">{{data.creditNoteDate | date: 'dd-MMM-yyyy'}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <strong>Customer Branch</strong>
                    </div>
                    <div class="col-md-7">
                        <label class="col-form-label">{{data.customerBranch}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <strong>Credit Amount</strong>
                    </div>
                    <div class="col-md-7">
                        <label class="col-form-label">{{data.currencyIsoCode}} {{data.creditAmount | number: '0.2'}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <strong>Outstanding Amount</strong>
                    </div>
                    <div class="col-md-7">
                        <label class="col-form-label">{{data.currencyIsoCode}} {{data.outstandingAmount | number: '0.2'}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card header-margin" *ngIf="data.status == 'Rejected'">
    <div class="card-header">
        <strong>Reasons</strong>
    </div>
    <div class="card-body">
        <div widget class="card border-0 box-shadow header-margin">
            <div class="card-body pt-0 widget-body">
                <div class="table-responsive">
                    <ng2-smart-table class="table table-hover" [settings]="settings" [source]="dataReason"></ng2-smart-table>
                </div>
            </div>
        </div>
    </div>
</div>