<div class="card header-margin">
    <div class="card-header">
        <strong>Search Criteria</strong>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <div class="col-md-4">
                        <strong>Client</strong>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label">{{clientName}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <strong>Status</strong>
                    </div>
                    <div class="col-md-8">
                        <select name="status" #status="ngModel" [(ngModel)]="statusOfSchedule" class="form-control">
                            <option value="">-- Please Select --</option>
                            <option value="Pending Authorization">Pending Authorization</option>
                            <option value="Authorized">Authorized</option>
                            <option value="Submitted">Submitted</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                        <button class="btn btn-success" type="button" (click)="searchClick(1)">Search</button> &nbsp;
                        <button class="btn btn-gray" type="button">Reset</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <div class="col-md-4">
                        <strong>Client Account</strong>
                    </div>
                    <div class="col-md-8">
                        <select name="clientAccount" #clientAccount="ngModel" [(ngModel)]="clientAccountId" class="form-control">
                            <option *ngFor="let i of lstCA" value="{{i.id}}">{{i.clientAccount}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card header-margin">
    <div class="card-body">
        <button class="btn btn-success" type="button" routerLink="/pages/add-schedule">New</button>
        <div widget class="card border-0 box-shadow header-margin">
            <div class="card-body pt-0 widget-body">
                <div class="table-responsive">
                    <ng2-smart-table class="table table-hover" [settings]="settings" [source]="data"></ng2-smart-table>
                </div>
            </div>
        </div>
    </div>
    <div _ngcontent-c32="" _nghost-c34="" class="ng-star-inserted" style="padding: 1.25rem;">
        <nav _ngcontent-c34="" class="ng2-smart-pagination-nav ng-star-inserted">
            <ul _ngcontent-c34="" class="ng2-smart-pagination pagination" *ngFor="let i of totalPage">
                <li *ngIf="i==1" _ngcontent-c34="" [ngClass]="{'active': curentPage!=1 && curentPage!=2 && curentPage!=3}" class="ng2-smart-page-item page-item disabled"><a _ngcontent-c34="" aria-label="First" class="ng2-smart-page-link page-link" (click)="firstPageClick()"><span _ngcontent-c34="" aria-hidden="true">«</span><span _ngcontent-c34="" class="sr-only">First</span></a></li>
                <li *ngIf="i==1" _ngcontent-c34="" class="ng2-smart-page-item page-item disabled"><a _ngcontent-c34="" aria-label="Prev" class="ng2-smart-page-link page-link page-link-prev" href="#"><span _ngcontent-c34="" aria-hidden="true">&lt;</span><span _ngcontent-c34="" class="sr-only">Prev</span></a></li>
                <li _ngcontent-c34="" [ngClass]="{'active': i==curentPage}" class="ng2-smart-page-item page-item ng-star-inserted" (click)="searchClick(i)">
                    <span _ngcontent-c34="" class="ng2-smart-page-link page-link ng-star-inserted">{{i}}<span _ngcontent-c34="" class="sr-only">(current)</span></span>
                </li>
                <li *ngIf="i==3" _ngcontent-c34="" class="ng2-smart-page-item page-item"><a _ngcontent-c34="" aria-label="Next" class="ng2-smart-page-link page-link page-link-next" (click)="nextClick()"><span _ngcontent-c34="" aria-hidden="true">&gt;</span><span _ngcontent-c34="" class="sr-only">Next</span></a></li>
                <li *ngIf="i==3" _ngcontent-c34="" class="ng2-smart-page-item page-item"><a _ngcontent-c34="" aria-label="Last" class="ng2-smart-page-link page-link" (click)="lastPageClick()"><span _ngcontent-c34="" aria-hidden="true">»</span><span _ngcontent-c34="" class="sr-only">Last</span></a></li>
            </ul>
        </nav>
    </div>
</div>