.ng2-smart-pagination[_ngcontent-c34] {
    display: inline-flex;
    font-size: .875em;
    padding: 0
}

.ng2-smart-pagination[_ngcontent-c34] .sr-only[_ngcontent-c34] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.ng2-smart-pagination[_ngcontent-c34] .ng2-smart-page-item[_ngcontent-c34] {
    display: inline
}

.ng2-smart-pagination[_ngcontent-c34] .page-link-next[_ngcontent-c34],
[_nghost-c34] {
    display: flex;
    justify-content: space-between
}

[_nghost-c34] select[_ngcontent-c34] {
    margin: 1rem 0 1rem 1rem
}

[_nghost-c34] label[_ngcontent-c34] {
    margin: 1rem 0 1rem 1rem;
    line-height: 2.5rem
}

.page-item.active .page-link {
    background-color: #4BAE4F;
    border-color: #4BAE4F;
}