.color-pend {
    background-color: #FF8C00;
    border: 2px solid #FF8C00;
    border-radius: 5px;
    color: white;
    padding: 1px;
}

.color-auth {
    background-color: #00BFFF;
    border: 2px solid #00BFFF;
    border-radius: 5px;
    color: white;
    padding: 1px;
}

.color-acce {
    background-color: #6DC631;
    border: 2px solid #6DC631;
    border-radius: 5px;
    color: white;
    padding: 1px;
}