<div style="padding-top: 10px" class="container">
    <div class="">
        <h4>
            New Schedule Of Offer
        </h4>
    </div>
    <br>
    <h6>Client</h6>
    <form action="">
        <select class="form-control">
            <option *ngFor="let i of listClient" value="{{i.code}}">{{i.name}}</option>
        </select>
        <!-- <span [hidden]="validCategory || (categorycode.pristine && !frm.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="categorycode" data-valmsg-for="categorycode" id="categorycode_validationMessage"
            role="alert">
            <i class="fa fa-exclamation-triangle"></i> Required!
        </span> -->
    </form>
    <br /><br />
    <h6>Schedule Accepttance Date</h6>
    <input class="lookup" type="date" name="lookup" max={{date}} />
    <br /><br />
    <input type="checkbox" /> Amend Schedule (Applicavle for Amend Schedule)
    <br /><br />
    <h6>Amend Schedule No.</h6>
    <input class="lookup" type="text" name="input" />
    <br /><br />
    <div class="">
        <input type="file" name="photo" ng2FileSelect [uploader]="uploader" (change)="fileChanged($event)" />
        <button type="button" class="btn btn-success" (click)="uploadDocument()">Upload</button>
    </div>
</div>