<div class="card header-margin">
    <div class="card-header">
        <strong>Credit Notes</strong>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group row">
                    <div class="col-md-4">
                        <strong>Client</strong>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label">{{clientName}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <strong>Status</strong>
                    </div>
                    <div class="col-md-8">
                        <select name="status" #status="ngModel" [(ngModel)]="portalStatus" class="form-control">
                          <option *ngFor="let i of lstStatus" value="{{i.code}}">{{i.value}}</option>
                      </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <strong>Schedule No.</strong>
                    </div>
                    <div class="col-md-8">
                        <input name="scheduleNo" [(ngModel)]="scheduleNo" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group row">
                    <div class="col-md-3">
                        <strong>Client Account</strong>
                    </div>
                    <div class="col-md-9">
                        <select name="clientAccount" #clientAccount="ngModel" [(ngModel)]="clientAccountId" class="form-control">
                          <option *ngFor="let i of lstCA" value="{{i.code}}">{{i.clientAccount}}</option>
                      </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <strong>Customer</strong>
                    </div>
                    <div class="col-md-9">
                        <select name="customer" #customer="ngModel" [(ngModel)]="customerId" class="form-control">
                          <option *ngFor="let i of lstCustomer" value="{{i.code}}">{{i.value}}</option>
                      </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <strong>Credit Note No.</strong>
                    </div>
                    <div class="col-md-9">
                        <input name="creditNoteNo" [(ngModel)]="creditNoteNo" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-7">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <strong>SO Created Date From</strong>
                            </div>
                            <div class="col-md-6 inputDateFrom">
                                <input type="date" id="toDate" name="{{toDate}}" value="{{ toDate | date:'yyyy-MM-dd' }}" max="{{ maxDate | date:'yyyy-MM-dd' }}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group row">
                            <div class="col-md-3 inputDateTo">
                                <strong>To</strong>
                            </div>
                            <div class="col-md-9">
                                <input type="date" id="toDate" name="{{toDate}}" value="{{ toDate | date:'yyyy-MM-dd' }}" max="{{ maxDate | date:'yyyy-MM-dd' }}" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <button class="btn btn-success" type="button" (click)="searchClick()">Search</button> &nbsp;
                <button class="btn btn-gray" type="button" (click)="resetClick()">Reset</button>
            </div>
        </div>
    </div>
</div>
<div class="card header-margin">
    <div class="card-body">
        <div widget class="card border-0 box-shadow header-margin">
            <div class="card-body pt-0 widget-body">
                <div class="table-responsive">
                    <ng2-smart-table class="table table-hover" [settings]="settings" [source]="data"></ng2-smart-table>
                </div>
            </div>
        </div>
    </div>
</div>