.app.combined .wrapper,
.app.combined .wrapper-inner {
    background-color: white;
}

.app.combined .login-container .card,
.app.combined .register-container .card,
.app.combined .error-container .card {
    background-color: white;
    height: 100%;
    width: 100%
}

.format-footer {
    display: flex;
    margin: auto;
    margin-top: 1%;
}

.center {
    margin: 0px auto;
    height: 100%;
    padding-top: 15px;
}

.password {
    float: left;
    color: black;
}

.fomat-pw.row {
    text-align: left;
}

.login {
    float: left;
    color: black;
}

.signin {
    width: 100%;
    background-color: #3E50B4 !important;
    border-color: #3E50B4 !important;
}

.wrapper {
    overflow: hidden;
}

.modal {
    top: 25%;
}

@media (max-width: 1024px) {
    .app.combined .login-container .card {
        width: 180%;
        position: relative;
        right: 35%;
    }

    .center {
        font-size: 15px;
    }
}

@media (max-width: 576px) {
    .app.combined .login-container .card {
        background-color: white;
        height: 100%;
        width: 250%;
        position: relative;
        right: 72%;
    }

    img {
        height: 75%;
    }

    .center {
        font-size: 12px;
    }
}

@media (max-width: 375px) {
    .center {
        font-size: 10px;
    }
}