<div class="row" style="height:15%">
    <div style="padding-left:15px">
        <img style="height: 100%;" src="../../../assets/img/login/logo.png" />
    </div>
</div>
<div class="row" style="height:75%;">
    <div class="bg-img d-flex justify-content-center align-items-center w-100 h-100 login-container">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card border-0 box-shadow rounded-0">
                <div class="card-body text-center pb-1">
                    <section class="format-sec">
                        <form class="sign-in" name="form">
                            <div class=row>
                                <div class="col-md-1"></div>
                                <div class="col-md-10 form-group input">
                                    <label class="login" for="login">Login</label>
                                    <input id="login" name="login" required type="text" class="form-control" maxlength="64">
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class=row>
                                <div class="col-md-1"></div>
                                <div class="col-md-10 form-group input">
                                    <label class="password" for="password">Password</label>
                                    <input id="password" name="password" type="password" class="form-control" maxlength="64">
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <br>
                            <div class="fomat-pw row">
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                    <label>
                                        <a routerLink="/sign-in">Forgot Password?</a>
                                    </label>
                                </div>
                                <div class="col-md-5">
                                    <button type="button" (click)="signIn()" class="signin btn btn-primary">Sign In</button>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <br>
                        </form>
                    </section>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<div class="row" style="height: 10%;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="format-footer">
            <div class="center">
                <h4 style="color: #305496;text-align: center;">&copy; 2018 - Copyright is held by IFS Capital
                    Limited. All right reserved.
                </h4>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>