.app.combined .wrapper,
.app.combined .wrapper-inner {
    background-color: white;
}

.app.combined .login-container .card,
.app.combined .register-container .card,
.app.combined .error-container .card {
    background-color: white;
    height: 100%;
    width: 100%
}

.format-footer {
    display: flex;
    margin: auto;
    margin-top: 1%;
}

.center {
    margin: 0px auto;
    height: 100%;
    padding-top: 15px;
}

.password {
    float: left;
    color: black;
}

.fomat-pw.row {
    text-align: left;
}

.login {
    float: left;
    color: black;
}

.signin {
    width: 100%;
    background-color: #4BAE4F !important;
    border-color: #4BAE4F !important;
}

.wrapper {
    overflow: hidden;
}