<div class="row" style="height:15%">
    <div style="padding-left:15px">
        <img src="../../../assets/img/login/logo.png" />
    </div>
</div>
<div class="row" style="height:75%;">
    <div class="bg-img d-flex justify-content-center align-items-center w-100 h-100 login-container">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card border-0 box-shadow rounded-0" *ngIf="isShow">
                <div class="card-body text-center pb-1">
                    <section class="format-sec">
                        <form class="sign-in" name="form" novalidate #f="ngForm" (ngSubmit)="f.form.valid && signIn()">
                            <div class="form-group">
                                <div class=row>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10 form-group">
                                        <label class="login" for="login">User ID</label>
                                        <input id="userName" name="userName" type="text" #userName="ngModel" [(ngModel)]="vm.userName" required email pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control">
                                        <span [hidden]="userName.valid || (userName.pristine && !f.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error pull-left" data-for="userName" data-valmsg-for="userName" id="userName_validationMessage" role="alert">
                                            <span *ngIf="userName.errors?.required">
                                                <i class="fa fa-exclamation-triangle"></i> Required!
                                            </span>
                                        <span *ngIf="userName.errors?.pattern">
                                                <i class="fa fa-exclamation-triangle"></i>Invalid email format!
                                            </span>
                                        </span>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class=row>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10 form-group input">
                                        <label class="password" for="password">Password</label>
                                        <input id="password" name="password" type="password" #password="ngModel" [(ngModel)]="vm.password" required pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8})" maxlength="8" class="form-control" placeholder="">
                                        <span [hidden]="password.valid || (password.pristine && !f.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error pull-left" data-for="password" data-valmsg-for="password" id="password_validationMessage" role="alert">
                                            <span *ngIf="password.errors?.required">
                                                <i class="fa fa-exclamation-triangle"></i> Required!
                                            </span>
                                        <span *ngIf="password.errors?.pattern">
                                                <i class="fa fa-exclamation-triangle"></i> Password must be 8 characters and include numbers, uppercase and lowercase.
                                                Letters and one special character
                                            </span>
                                        </span>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class=row>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10 form-group">
                                        <span *ngIf="showMsg" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error pull-left">
                                            <i class="fa fa-exclamation-triangle"></i>{{message}}
                                        </span>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>
                            <div class="fomat-pw row">
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                    <label>
                                        <a style="cursor: pointer; color: #3E50B4" (click)="showForgotPasss()">Forgot Password?</a>
                                    </label>
                                </div>
                                <div class="col-md-5">
                                    <button type="submit" class="signin btn">Sign In</button>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <br>
                        </form>
                    </section>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<div class="row" style="height: 10%;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="format-footer">
            <div class="center">
                <strong style="color: #305496;text-align: center;">&copy; 2018 - Copyright is held by IFS Capital Limited. All right reserved.
                </strong>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div bsModal #forgotPassModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!-- loading spinner -->
    <!-- <div *ngIf="model_loader" class="loading">Loading&#8230;</div> -->
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="margin: auto">Forgot Password</h4>
            </div>
            <div class="modal-body">
                <form name="form" #f="ngForm" novalidate>
                    <p style="margin-bottom: 10px"><b>Please enter your User ID below:</b></p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="email">User ID
                                    <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="email" [(ngModel)]="vm.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />
                                <span *ngIf="isFormatEmail" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                                    <i class="fa fa-exclamation-triangle"></i>Invalid email format!
                                </span>
                                <span *ngIf="isFEmail" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                                    <i class="fa fa-exclamation-triangle"></i> Required!
                                </span>
                                <span *ngIf="isExistingFEmail" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                                    <i class="fa fa-exclamation-triangle"></i>{{messageForgot}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-block" (click)="cancelClick()">Cancel</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary btn-block" (click)="sendEmailVerificationLink();">OK</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div bsModal #notify="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Reset Password</h4>
                <button type="button" class="close" (click)="notify.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body size-text-content-modal text-center">
                <div class="form-group row">
                    <div class="col-md-12">
                        <i class="fa fa-check-circle-o icon-check-square"></i>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12 text-bold">
                        <span>A password reset email has been sent to user's contact email.</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <button type="button" class="btn btn-success btn-block text-bold" (click)="notify.hide(); isShow=true">OK</button>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>