<div class="card header-margin">
    <div class="card-header">
        <strong>Invoices</strong>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group row">
                    <div class="col-md-5">
                        <strong>Client</strong>
                    </div>
                    <div class="col-md-7">
                        <label class="col-form-label">{{clientName}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5">
                        <strong>Schedule No.</strong>
                    </div>
                    <div class="col-md-7">
                        <input name="scheduleNo" [(ngModel)]="scheduleNo" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5">
                        <strong>Created Date From</strong>
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control" [minDate]="minDate" [maxDate]="maxDate" bsDatepicker [(bsValue)]="fromDate" value="{{ fromDate | date:'dd-MMM-yyyy' }}">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5">
                        <strong>Document Type</strong>
                    </div>
                    <div class="col-md-7">
                        <select name="documentType" [(ngModel)]="documentType" class="form-control">
                            <option *ngFor="let i of lstDocumentType" value="{{i.code}}">{{i.value}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5">
                        <strong>Status</strong>
                    </div>
                    <div class="col-md-7">
                        <select [(ngModel)]="status" class="form-control">
                                  <option *ngFor="let i of lstStatus" value="{{i.code}}">{{i.value}}</option>
                              </select>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="form-group row">
                    <div class="col-md-3">
                        <strong>Client Account</strong>
                    </div>
                    <div class="col-md-9">
                        <select name="clientAccount" #clientAccount="ngModel" [(ngModel)]="clientAccountId" class="form-control" (change)="searchCU($event)">
                          <option *ngFor="let i of lstCA" value="{{i.sfId}}" >{{i.clientAccount}}</option>
                      </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <strong>Invoice No.</strong>
                    </div>
                    <div class="col-md-9">
                        <input name="scheduleNo" [(ngModel)]="invoiceNo" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3 inputDateTo">
                        <strong>To</strong>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" [minDate]="minDate" [maxDate]="maxDate" bsDatepicker [(bsValue)]="toDate" value="{{ toDate | date:'dd-MMM-yyyy' }}">
                    </div>
                </div>
                <div class="form-group row" *ngIf="documentType == 'INV'">
                    <div class="col-md-3">
                        <strong>Customer</strong>
                    </div>
                    <div class="col-md-9">
                        <select [(ngModel)]="customer" class="form-control">
                              <option *ngFor="let i of lstCU" value="{{i.sfId}}">{{i.name}}</option>
                          </select>
                    </div>
                </div>
                <div class="form-group row" *ngIf="documentType == 'CAD'">
                    <div class="col-md-3">
                        <strong>Supplier</strong>
                    </div>
                    <div class="col-md-9">
                        <select name="supplier" [(ngModel)]="supplier" class="form-control">
                                <option *ngFor="let i of lstSU" value="{{i.sfId}}">{{i.name}}</option>
                            </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <button class="btn btn-primary" type="button" (click)="searchClick(1)">Search</button> &nbsp;
                <button class="btn btn-gray" type="button" (click)="resetClick()">Reset</button>
            </div>
        </div>
    </div>
</div>
<div class="card header-margin">
    <div class="card-body">
        <div widget class="card border-0 box-shadow header-margin">
            <div class="card-body pt-0 widget-body">
                <div class="table-responsive">
                    <ng2-smart-table class="table table-hover" [settings]="settings" [source]="data"></ng2-smart-table>
                </div>
            </div>
        </div>
    </div>
    <div _ngcontent-c32="" _nghost-c34="" class="ng-star-inserted" style="padding: 1.25rem;" [hidden]="data.length==0">
        <nav _ngcontent-c34="" class="ng2-smart-pagination-nav ng-star-inserted">
            <ul _ngcontent-c34="" class="ng2-smart-pagination pagination">
                <li _ngcontent-c34="" [ngClass]="{'disabled': pager.currentPage === 1}" class="ng2-smart-page-item page-item disabled"><a _ngcontent-c34="" aria-label="First" class="ng2-smart-page-link page-link" (click)="searchClick(1)"><span _ngcontent-c34="" aria-hidden="true">«</span><span _ngcontent-c34="" class="sr-only">First</span></a></li>
                <li [ngClass]="{disabled:pager.currentPage === 1}" _ngcontent-c34="" class="ng2-smart-page-item page-item"><a _ngcontent-c34="" aria-label="Prev" class="ng2-smart-page-link page-link page-link-prev" (click)="searchClick(pager.currentPage - 1)"><span _ngcontent-c34="" aria-hidden="true">&lt;</span><span _ngcontent-c34="" class="sr-only">Prev</span></a></li>
                <li _ngcontent-c34="" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="ng2-smart-page-item page-item ng-star-inserted" (click)="searchClick(page)">
                    <span _ngcontent-c34="" class="ng2-smart-page-link page-link ng-star-inserted">{{page}}<span _ngcontent-c34="" class="sr-only">(current)</span></span>
                </li>
                <li _ngcontent-c34="" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="ng2-smart-page-item page-item"><a _ngcontent-c34="" aria-label="Next" class="ng2-smart-page-link page-link page-link-next" (click)="searchClick(pager.currentPage + 1)"><span _ngcontent-c34="" aria-hidden="true">&gt;</span><span _ngcontent-c34="" class="sr-only">Next</span></a></li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" _ngcontent-c34="" class="ng2-smart-page-item page-item"><a _ngcontent-c34="" aria-label="Last" class="ng2-smart-page-link page-link" (click)="searchClick(pager.totalPages)"><span _ngcontent-c34="" aria-hidden="true">»</span><span _ngcontent-c34="" class="sr-only">Last</span></a></li>
            </ul>
        </nav>
    </div>
</div>