<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="https://www.facebook.com/reddotpower" target="_blank">
                <img src="../assets/img/facebook.jpg" class="cs-image-social" />
            </a>
            <a href="https://www.linkedin.com/company/reddotpowerco/" target="_blank">
                <img src="../assets/img/linkedIn.jpg" class="cs-image-social" />
            </a>
            <a href="https://www.youtube.com/channel/UCxv_YKE5jrkVgPawaFmNdrQ/videos" target="_blank">
                <img src="../assets/img/youtube.jpg" class="cs-image-social" />
            </a>
        </div>
        <ul _ngcontent-c2="" class="list-inline cs-list-inline">
            <li _ngcontent-c2="">
                <a _ngcontent-c2="" href="http://corporate.reddotpower.com.sg/residential-faq" target="_blank">FAQ (Residential)</a>
            </li>
            <li _ngcontent-c2="">
                <a _ngcontent-c2="" href="http://corporate.reddotpower.com.sg/faq " target="_blank">FAQ (Business)</a>
            </li>
            <li _ngcontent-c2="">
                <a _ngcontent-c2="" href="http://corporate.reddotpower.com.sg/about" target="_blank">About Us</a>
            </li>
            <li _ngcontent-c2="">
                <a _ngcontent-c2="" data-target="#termAndCondition" data-toggle="modal" href="#">Legal & Privacy</a>
            </li>
        </ul>
        <p class="p-footer">Red Dot Power Pte Ltd, 40 Sin Ming Lane, #01-00 Midview City, Singapore 573958 | T: (65) 6816 6699 | E: Homes@reddotpower.com.sg</p>
        <p class="p-footer">A vTrium Energy Group Company • Registration Number 201003305K | Wholesaler (Demand Side Participation) License (EMA/WEIL/004) | Retail License for Electricity (EMA/RE/011)</p>
        <!-- <p class="copyright">Red Dot Power © 2017</p> -->
    </footer>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="termAndCondition" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">TERMS & CONDITION</h4>
            </div>
            <div class="modal-body scroll-popup popup-bottom">
                <h1 align="center" class="color-primary">
                    Terms &amp; Conditions
                </h1>
                <p>
                    PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY - BY VIEWING ANY OF RED DOT POWER’S WEBSITES AND/OR USING ANY OF RED DOT POWER'S ONLINE SERVICES, YOU AGREE TO BE BOUND BY THE FOLLOWING TERMS AND CONDITIONS ("TERMS"). IF YOU DO NOT ACCEPT ANY OF THESE
                    TERMS, PLEASE DISCONTINUE YOUR ACCESS TO RED DOT POWER’S WEBSITES AND ONLINE SERVICES. WE MAY AT ANY TIME REVISE THESE TERMS BY UPDATING THIS VERSION. BY USING RED DOT POWER'S WEBSITES OR ONLINE SERVICES, YOU AGREE TO BE BOUND BY ANY
                    SUCH REVISIONS. PLEASE THEREFORE VISIT THIS WEB PAGE PERDIODICALLY TO DETERMINE ANY CHANGES TO THESE TERMS.
                </p>
                <h2>
                    Copyright and Trademark Notices
                </h2>
                <p>
                    Unless otherwise expressly stated, all copyrights, trademarks, tradenames, logos, service marks and other intellectual property or proprietary rights in the Content on RDP’s websites or which may be accessed through RDP’s online services are the property
                    of Red Dot Power Pte Ltd [RDP], its Affiliates and/or third party licensors. You may view and use this Content for personal and non-commercial purposes only. This Content may not be reproduced, distributed, transmitted, published,
                    displayed, broadcast, stored, adapted, licensed, altered, hyperlinked or otherwise used in any manner or by any means without RDP's prior written consent.
                    <br/>
                </p>
                <h2>
                    Disclaimer
                </h2>
                <p>
                    The contents of this Website are provided on an “as is” and “as available” basis without warranties of any kind, and are of a general nature which have not been verified, considered or assessed by any member of RDP in relation to the making of any specific
                    investment, business, financial or commercial decision. RDP does not warrant and hereby disclaims all warranties of any kind, implied, express, or statutory, including but not limited to warranties
                    <br/>
                </p>
                <p>
                    (i)as to the truth, accuracy, adequacy, completeness of reasonableness of the information and materials contained in or accessed through this Website and expressly disclaims liability for any errors in, or omissions from, such information and materials;
                    <br/>
                </p>
                <p>
                    (ii) as to the title, merchantability, satisfactory quality, non-infringement of third party intellectual property rights, or fitness for any particular purpose of the information and materials on this Website, or this Website in general; and
                    <br/>
                </p>
                <p>
                    (iv) that the contents available through this Website or any functions associated therewith will be uninterrupted or error-free, or that defects will be corrected or that this Website and the server is and will be free of all viruses and/or other harmful
                    elements. RDP shall not be liable regardless of the form of action for any failure of performance system, server or connection failure, error, omission, interruption, breach of security, computer virus, malicious code, corruption,
                    delay in operation or transmission, transmission error or unavailability of access in connection with your accessing this Website and/or using the online services even if the RDP has been advised as to the possibility.
                    <br/>
                </p>
                <p>
                    In no event shall the RDP be liable to you or any other party for any damages, losses, expenses or costs whatsoever (including without limitation, any direct, indirect, special, incidental or consequential damages, loss of profits or loss of opportunity)
                    arising in connection with your use of this Website, or reliance on any information, materials or online services provided at this Website, regardless of the form of action, even if RDP had been advised as to the possibility of such
                    damages.
                    <br/>
                </p>
                <h2>
                    Content, Products and Services
                </h2>
                <p>
                    You agree that:
                </p>
                <p>
                    (i) all Content, products or services transmitted or made available via RDP's websites and/or online Services, are the sole responsibility of the person from which such Content, products or services originated;
                    <br/>
                </p>
                <p>
                    (ii) RDP and its Affiliates will not be liable in any way for any third party Content, products or services which you may access, use or acquire via RDP's websites and/or online Services;
                    <br/>
                </p>
                <p>
                    (iii) you are solely responsible for all Content, products or services that you transmit or make available via RDP's websites, online Services or on any website;
                    <br/>
                </p>
                <p>
                    (iv) RDP and its Affiliates do not control any third party Content, products or services which you may access, use or acquire through RDP's websites and/or online Services. Further, RDP and its Affiliates do not endorse, guarantee or assume any liability
                    for the delivery, performance, accuracy, reliability, integrity, legality or quality of such Content, products or services;
                    <br/>
                </p>
                <p>
                    (v) by using RDP's websites and/or online services, you may be exposed to third party Content, products or services that may be defamatory, offensive, indecent, objectionable or illegal;
                    <br/>
                </p>
                <p>
                    (vi) RDP may, at its discretion and without notice to you, refuse, remove, modify or deny access to any Content, products or services which you transmit or make available via RDP's websites and/or online Services or on any website, including without limitation
                    such Content, products or services that may be or are alleged to be defamatory, offensive, indecent, objectionable or illegal or may have infringed any party's intellectual property rights. We shall not be responsible for determining
                    the validity of any allegations in this regard;
                    <br/>
                </p>
                <p>
                    (vii) RDP may, at its discretion, deny access to or remove any third party Content, products or services that may be defamatory, offensive, indecent, objectionable or illegal or may have infringed any party's intellectual property rights, without notice
                    to you; and
                    <br/>
                </p>
                <p>
                    (ix) without prejudice to paragraph (vii) above, RDP may, at its discretion, refuse, remove, modify, deny access to, suspend or terminate any third party Content, products or services which you may access, use or acquire via RDP's websites and/or online
                    services, without notice to you, and RDP and its Affiliates will not be liable to you or any third party under this Clause.
                    <br/>
                </p>
                <h2>
                    Privacy Policy
                </h2>
                <p>
                    Your privacy is important to RDP. We are committed to maintaining the confidentiality of the personal information that you give us through this Website and/or by accessing and using our online services.
                    <br/>
                </p>
                <p>
                    (i) We collect personal information from you for the purposes of providing you with and improving the RDP’s services. We use information in the file we maintain about you, and other information we obtain from your current and past activities on the Website
                    to resolve disputes and troubleshoot problems. At times, we may look across multiple users to identify problems or resolve disputes, and in particular we may examine your information to identify users using multiple user ids or aliases,
                    if any.
                    <br/>
                </p>
                <p>
                    (ii) Only authorised staff will have access to your personal information.
                    <br/>
                </p>
                <p>
                    (iv) You agree that we may use personally identifiable information about you to improve our marketing and promotional efforts, to analyze website usage, improve our content, product offerings and services, and customize our website's content, layout,
                    and services. This may include using your information to contact you and deliver information to you that is targeted to your interests, such as targeted banner advertisements, administrative notices, product offerings and communications
                    relevant to your use of the Website.
                    <br/>
                </p>
                <p>
                    (v) Like most websites, we may use cookies to "remember" information about your preferences. You can set up your web browser to accept or reject cookies.
                    <br/>
                </p>
                <p>
                    (vi) If you send us personal correspondence, such as emails or letters, or if other users or third parties send us correspondence about your activities or postings on the Website, we may collect such information into a file specific to you.
                    <br/>
                </p>
                <p>
                    (vii) We use industry standard practices to safeguard the confidentiality of your personal identifiable information. RDP treats data as an asset that must be protected against loss and unauthorized access. We employ many different security techniques
                    to protect such data from unauthorized access by users inside and outside our group of companies. However, please note that we cannot ensure that all of your private communications and other personally identifiable information will
                    not be disclosed in ways not otherwise described in these Terms and Conditions and/or the RDP Data Protection Policy (for example, in disclosing your personal data to law enforcement, regulatory or other government agencies, or to
                    third parties under certain circumstances, third parties may unlawfully intercept or access transmissions or private communications, or users may abuse or misuse your information that they collect from our website).
                    <br/>
                </p>
                <p>
                    (viii) RDP may disclose your personal data to law enforcement, regulatory or other government agencies, or to third parties. For example, certain aggregate information contained in your registration application or account may be disclosed when we believe
                    that the disclosure is required to comply with the law; enforce or apply our Terms and Conditions and other agreements and/or policies (including RDP’s Data Protection Policy); protect the rights, property or safety of our Website,
                    our users or others. The foregoing includes exchanging information with other companies and organizations for fraud protection and credit risk reduction. Please note that this does not include selling, renting, sharing, or otherwise
                    disclosing.
                    <br/>
                </p>
                <h2>
                    Governing Law
                </h2>
                <p>
                    By assessing RDP's websites and online Services, you agree that such access and/or use, as well as these Terms shall be governed by, and construed in accordance with Singapore laws and you agree to submit to the exclusive jurisdiction of the Singapore
                    courts.
                    <br/>
                </p>
                <h2>
                    Amendments to these Terms and Conditions
                </h2>
                <p>
                    RDP reserves the right to amend these Terms and Conditions from time to time without prior notice to you. Should there be any amendments, the revised terms and conditions will be posted on this Website. By continuing to use this Website after such changes
                    have been made, you acknowledge and agree you have read, understood and accept the changes.
                    <br/>
                </p>
                <h2>
                    Indemnity
                </h2>
                <p>
                    You hereby agree to indemnify and hold the RDP harmless against all damages, losses, expenses and costs (including legal costs) suffered or incurred by RDP in connection with or arising from:
                    <br/>
                </p>
                <p>
                    (i) your access to this Website and/or the use of the online services;
                    <br/>
                </p>
                <p>
                    (ii) any other party’s access of this Website and/or use of the online services using your user id and/or login password;
                    <br/>
                </p>
                <p>
                    (iv) your breach of any of these Terms and Conditions; and/or
                    <br/>
                </p>
                <p>
                    (v) any other party’s breach of these Terms and Conditions where such party was able to access this Website and/or use the online services by using your user id and/or login password.
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>