.file-upload {
    .file-upload-btn {
        position: absolute;
        width: 100%;
        height: 35px;
        z-index: 9;
        opacity: 0;
    }
    .delete-file {
        position: absolute;
        right: 50px;
        top: 8px;
        font-size: 16px;
        opacity: .8;
        cursor: pointer;
        z-index: 99;
        visibility: hidden;
    }
    &:hover .delete-file {
        visibility: visible;
    }
}

.download {
    margin-left: 40%;
}

.pad-down-icon {
    padding-right: 10%;
}


/* upload file */

ul,
menu,
dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.k-upload-files {
    line-height: 2.66;
    border-style: solid;
    border-width: 1px 0 0;
    padding-bottom: 5px;
    border-color: #bbdceb;
}

html .k-upload {
    position: relative;
}

.k-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.k-file {
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    padding: .65em .17em .65em 1em;
    background-color: #fff;
    border-color: #bbdceb;
}

.k-dropzone,
.k-file {
    position: relative;
}

.k-file .k-icon {
    position: relative;
    color: #003f59;
    text-indent: -99999px;
}

.k-file .k-upload-action {
    background: 0 0;
    border-width: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}