<div class="card header-margin">

    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <div class="col-md-4">
                        <strong>Schedule of Offer</strong>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label">{{entity.scheduleNo}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <strong>Client</strong>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label">{{entity.clientName}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <strong>Client Account</strong>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label">{{entity.clientAccount}}</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8">

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <strong>Status</strong>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label">{{entity.scheduleStatus}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <strong>Schedule Date</strong>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label">{{entity.scheduleDate}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card header-margin">
    <div class="card-body">
        <tabset class="nav-justified">
            <tab heading="Schedule">
                <form enctype="multipart/form-data" class="form-horizontal" novalidate #frm="ngForm" (ngSubmit)="UpdateSchedule(frm.valid)" *ngIf="entity">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <strong>Schedule of Offer</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" name="scheduleNo" #scheduleNo="ngModel" [(ngModel)]="entity.scheduleNo" value="{{entity.scheduleNo}}" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <strong>Currency</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" name="currencyIsoCode" #currencyIsoCode="ngModel" [(ngModel)]="entity.currencyIsoCode" value="{{entity.currencyIsoCode}}" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <strong>Total No. of Invoice</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <label class="col-form-label">{{entity.total}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <strong>Total Amount of Invoice</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <label class="col-form-label">{{entity.totalAmount}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <strong>Document Type</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <label class="col-form-label">{{entity.recordType}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <strong>Exchange Rate</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" name="exchangeRate" #exchangeRate="ngModel" [(ngModel)]="entity.exchangeRate" value="{{entity.exchangeRate}}" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <strong>Factor Code</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" name="factorCode" #factorCode="ngModel" [(ngModel)]="entity.factorCode" value="{{entity.factorCode}}" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <button class="btn btn-gray btn-block" type="button" routerLink="../../schedule">Cancel</button>
                            </div>
                            <div class="col-md-2 cancel">
                                <button class="btn btn-success btn-block" type="submit">Save</button>

                            </div>
                            <div class="col-md-6"></div>
                        </div>
                    </div>
                </form>
            </tab>
            <tab heading="Invoice Listing">
            </tab>
            <tab heading="Attachments">
                <div class="row">
                    <div class="card-body col-md-6">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group file-upload">
                                    <input type="file" name="Importfile" title="Select File" id="importData" ng2FileSelect [uploader]="uploader" multiple (change)="fileChanged($event)" class="file-upload-btn" />
                                    <input type="text" class="form-control" placeholder="Choose a file..." value="{{(file !=null)? file.name :'' }}">
                                    <i class="fa fa-times delete-file" (click)="removeFile()" *ngIf="file"></i>
                                    <span class="input-group-append upload">
                                                <button class="btn btn-primary" type="button"><i class="fa fa-upload"> </i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body col-md-6">
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-4">
                                <button class="btn btn-primary btn-block" type="button" (click)="UpdateFile()">Upload</button>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>