<div class="card header-margin">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <div class="col-md-4">
                        <strong>Schedule of Offer</strong>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label">{{entity.scheduleNo}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <strong>Client</strong>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label">{{entity.clientName}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <strong>Client Account</strong>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label">{{entity.clientAccount}}</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8">

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <strong>Status</strong>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label">{{entity.portalStatus}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <strong>Schedule Date</strong>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label">{{entity.scheduleDate}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card header-margin">
    <div class="card-body">
        <tabset class="nav-justified">
            <tab heading="Schedule">
                <form enctype="multipart/form-data" class="form-horizontal" novalidate #frm="ngForm" (ngSubmit)="UpdateSchedule(frm.valid)" *ngIf="entity">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <strong>Schedule of Offer</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" name="scheduleNo" #scheduleNo="ngModel" [(ngModel)]="entity.scheduleNo" value="{{entity.scheduleNo}}" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <strong>Currency</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <label class="col-form-label">{{entity.currencyIsoCode}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <strong>Total No. of {{(entity.documentType == "Credit Note") ? "Credit Notes":'Invoice' }}</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <label class="col-form-label">{{(entity.documentType == "Credit Note") ? entity.totalCN :entity.total}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <strong>Total Amount of  {{(entity.documentType == "Credit Note") ? "Credit Notes":'Invoice' }}</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <label class="col-form-label"> {{(entity.documentType == "Credit Note") ? entity.totalAmountCN :entity.totalAmount}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <strong>Document Type</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <label class="col-form-label">{{entity.documentType}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <strong>Exchange Rate</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <label class="col-form-label">{{entity.exchangeRate}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <strong>Factor Code</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <label class="col-form-label">{{entity.factorCode}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <button class="btn btn-gray btn-block" type="button" routerLink="../../schedule">Cancel</button>
                            </div>
                            <div class="col-md-2 cancel">
                                <button class="btn btn-primary btn-block" type="submit">Save</button>

                            </div>
                            <div class="col-md-6"></div>
                        </div>
                    </div>
                </form>
            </tab>
            <tab heading="Invoice Listing" *ngIf="checkIv">
                <div class="card header-margin">
                    <div class="card-header">
                        <strong [hidden]="entity.documentType=='Cash Disbursement'">Invoice Listing</strong>
                        <strong [hidden]="entity.documentType=='Invoice'">Cash Disbursment</strong>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div widget class="card border-0 box-shadow">
                                <div class="card-body pt-0 widget-body">
                                    <div class="table-responsive">
                                        <ng2-smart-table class="table table-hover" [settings]="settingsIv" [source]="ivList"></ng2-smart-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body col-md-6">
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-block" type="button" (click)="authorsiedModal.show();">Authorsied</button>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="Credit Note Listing" *ngIf="checkCd">
                <div class="card header-margin">
                    <div class="card-header">
                        <strong>Credit Note Listing</strong>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div widget class="card border-0 box-shadow">
                                <div class="card-body pt-0 widget-body">
                                    <div class="table-responsive">
                                        <ng2-smart-table class="table table-hover" [settings]="settings" [source]="cnList"></ng2-smart-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body col-md-6">
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-block" type="button" (click)="authorsiedModal.show();">Authorsied</button>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="Attachments" *ngIf="checkAtt">
                <div class="row">
                    <div class="card-body col-md-6">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group file-upload">
                                    <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" accept=".pdf,.tiff,.jpeg,.gif,.png" multiple class="file-upload-btn">
                                    <input type="text" class="form-control" placeholder="Choose file..." value="{{(file !=null)? strFileName :'' }}">
                                    <i class="fa fa-times delete-file" (click)="removeAllFiles()" *ngIf="file"></i>
                                    <span class="input-group-append upload">
                                                <button class="btn btn-primary" type="button"><i class="fa fa-upload"> </i></button>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-body col-md-6">
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-4">
                                <button class="btn btn-primary btn-block" type="button" (click)="startUpload()">Upload</button>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                    </div>
                    <div class="card col-md-12">
                        <div class="card-body">
                            <div widget class="card border-0 box-shadow">
                                <div class="card-body pt-0 widget-body">
                                    <div class="table-responsive">
                                        <ng2-smart-table class="table table-hover" [settings]="settingsAtt" [source]="attList" (deleteConfirm)="onDelete($event)"></ng2-smart-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>

<div bsModal #authorsiedModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Confirm Authorsie</h4>
                <button type="button" class="close" (click)="authorsiedModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body size-text-content-modal text-center">
                <!-- <div class="form-group row">
                    <div class="col-md-12">
                        <i class="fa fa-check-circle-o icon-check-square"></i>
                    </div>
                </div> -->
                <div class="form-group row">
                    <div class="col-md-12 text-bold">
                        <span>Are you sure, you want to proceed?</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10 row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-block" (click)="authorsiedModal.hide();">No</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary btn-block" (click)="Authorise();authorsiedModal.hide();">Yes</button>
                    </div>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div bsModal #uploadModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Error</h4>
                <button type="button" class="close" (click)="authorsiedModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body size-text-content-modal text-center">
                <!-- <div class="form-group row">
                    <div class="col-md-12">
                        <i class="fa fa-check-circle-o icon-check-square"></i>
                    </div>
                </div> -->
                <div class="form-group row">
                    <div class="col-md-12 text-bold">
                        <span>{{mesErr}}</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10 row">
                    <button type="button" class="btn btn-primary btn-block" (click)="uploadModal.hide();">OK</button>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>{{title}}</h4>
                <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body size-text-content-modal text-center">
                <div class="form-group row">
                    <div class="col-md-12">
                        <i class="fa fa-check-circle-o icon-check-square"></i>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12 text-bold">
                        <span>{{msgInfo}}</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <button type="button" class="btn btn-success btn-block text-bold" (click)="infoModal.hide()">OK</button>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>