<div class="card header-margin">

    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <div class="col-md-4">
                        <strong>Schedule of Offer</strong>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label">{{data.scheduleNo}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <strong>Client</strong>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label">{{data.clientName}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <strong>Client Account</strong>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label">{{data.clientAccount}}</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8">

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <strong>Status</strong>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label">{{data.scheduleStatus}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <strong>Schedule Date</strong>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label">{{data.scheduleDate}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card header-margin">
    <div class="card-body">
        <tabset class="nav-justified">
            <tab heading="Schedule">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <strong>Schedule of Offer</strong>
                                </div>
                                <div class="col-md-8">
                                    <label class="col-form-label">{{data.scheduleNo}}</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <strong>Currency</strong>
                                </div>
                                <div class="col-md-8">
                                    <label class="col-form-label">{{data.currencyIsoCode}}</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <strong>Total No. of Invoice</strong>
                                </div>
                                <div class="col-md-8">
                                    <label class="col-form-label">{{data.total}}</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <strong>Total Amount of Invoice</strong>
                                </div>
                                <div class="col-md-8">
                                    <label class="col-form-label">{{data.totalAmount}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <strong>Document Type</strong>
                                </div>
                                <div class="col-md-8">
                                    <label class="col-form-label">{{data.recordType}}</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <strong>Exchange Rate</strong>
                                </div>
                                <div class="col-md-8">
                                    <label class="col-form-label">{{data.exchangeRate}}</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <strong>Factor Code</strong>
                                </div>
                                <div class="col-md-8">
                                    <label class="col-form-label">{{data.factorCode}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <button class="btn btn-gray btn-block" type="button" routerLink="../schedule">Cancel</button>
                        </div>
                        <div class="col-md-2 cancel">
                            <button class="btn btn-success btn-block" type="submit">Save</button>

                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </tab>
            <tab heading="Invoice Listing">
            </tab>
            <tab heading="Attachments">
            </tab>
        </tabset>
    </div>
</div>