<form enctype="multipart/form-data" class="form-horizontal" novalidate #frm="ngForm" (ngSubmit)="save(frm.valid)" *ngIf="vm">
    <div class="card header-margin">
        <div class="card-header">
            <strong>Details</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <strong>First Name </strong>
                            <span class="text-danger">*</span>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="firstName" #firstName="ngModel" [(ngModel)]="vm.firstName" value="{{vm.firstName}}" class="form-control" required>
                            <span [hidden]="firstName.valid || (firstName.pristine && !frm.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                                <i class="fa fa-exclamation-triangle"></i> Required!
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <strong>Salutation </strong>
                            <span class="text-danger">*</span>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="salutation" #salutation="ngModel" [(ngModel)]="vm.salutation" value="{{vm.salutation}}" class="form-control" required>
                            <span [hidden]="salutation.valid || (salutation.pristine && !frm.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                                <i class="fa fa-exclamation-triangle"></i> Required!
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <strong>Role</strong>
                        </div>
                        <div class="col-md-8">
                            <label class="col-form-label">{{vm.roleName}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <strong>Last Name </strong>
                            <span class="text-danger">*</span>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="lastName" #lastName="ngModel" [(ngModel)]="vm.lastName" value="{{vm.lastName}}" class="form-control" required>
                            <span [hidden]="lastName.valid || (lastName.pristine && !frm.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                                <i class="fa fa-exclamation-triangle"></i> Required!
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <strong>Company</strong>
                        </div>
                        <div class="col-md-8">
                            <label class="col-form-label">CWS</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <a href="javascript:void(0)" (click)="changePasswordModal.show()">Change Password</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <strong>Contact Information</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <strong>Mobile No.</strong>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="mobile" #mobile="ngModel" [(ngModel)]="vm.mobile" value="{{vm.mobile}}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row" style="text-align: center;">
                        <div class="col-md-12">
                            <button class="btn" type="button" routerLink="/pages/dashboard">Cancel</button> &nbsp;
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <strong>Email</strong>
                        </div>
                        <div class="col-md-8">
                            <label class="col-form-label">{{vm.email}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div bsModal #changePasswordModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-header-modal">
                <h4 class="modal-title">Change Password</h4>
                <button type="button" class="close" (click)="changePasswordModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-label-left input_mask" novalidate #changePasswordFrm="ngForm" (ngSubmit)="changPassword(changePasswordFrm.valid)" *ngIf="entity">
                    <div class="form-group row">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <strong>Old Password </strong>
                            <span class="text-danger">*</span>
                        </div>
                        <div class="col-md-6">
                            <input type="password" name="oldPassword" #oldPassword="ngModel" [(ngModel)]="entity.oldPassword" value="{{entity.oldPassword}}" class="form-control" required>
                            <span [hidden]="oldPassword.valid || (oldPassword.pristine && !changePasswordFrm.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                                <i class="fa fa-exclamation-triangle"></i> Required!
                            </span>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <strong>New Password </strong>
                            <span class="text-danger">*</span>
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="newPassword" #newPassword="ngModel" [(ngModel)]="entity.newPassword" value="{{entity.newPassword}}" maxlength="8" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8})" class="form-control" required>
                            <span [hidden]="newPassword.valid || (newPassword.pristine && !changePasswordFrm.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                                <span *ngIf="newPassword.errors?.required">
                                    Required!
                                </span>
                            <span *ngIf="newPassword.errors?.pattern">
                                    Password must be 8 characters and include numbers, uppercase and lowercase. Letters and one special character
                                </span>
                            </span>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <strong>Confirm Password </strong>
                            <span class="text-danger">*</span>
                        </div>
                        <div class="col-md-6">
                            <input type="password" name="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="entity.confirmPassword" value="{{entity.confirmPassword}}" class="form-control" required>
                            <span [hidden]="confirmPassword.valid || (confirmPassword.pristine && !changePasswordFrm.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                                <i class="fa fa-exclamation-triangle"></i> Required!
                            </span>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-5"></div>
                        <div class="col-md-7">
                            <button type="button" class="btn btn-primary" (click)="changePasswordModal.hide()">Cancel</button> &nbsp;
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-header-modal">
                <h4 class="modal-title">Information</h4>
                <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body size-text-content-modal">
                <form class="form-horizontal form-label-left input_mask" novalidate #changePasswordFrm="ngForm" *ngIf="entity">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <span>{{msgInfo}}</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group row">
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                        <button type="button" class="btn btn-primary pull-right" (click)="infoModal.hide()">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>