<form enctype="multipart/form-data" class="form-horizontal" novalidate #frm="ngForm" (ngSubmit)="save(frm.valid)" *ngIf="vm">
    <div class="card header-margin">
        <div class="card-header">
            <strong>Details</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <strong>User ID</strong>
                        </div>
                        <div class="col-md-8">
                            <span>{{vm.userId}}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <strong>Given Name </strong>
                        </div>
                        <div class="col-md-8">
                            <span>{{vm.firstName}}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <strong>Mobile No.</strong>
                        </div>
                        <div class="col-md-8">
                            <span>{{vm.mobile}}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <strong>Company</strong>
                        </div>
                        <div class="col-md-8">
                            <span>{{vm.clientName}}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-8">
                            <button class="btn btn-gray" type="button" routerLink="/pages/dashboard">Cancel</button> &nbsp;
                            <button class="btn btn-primary" type="button" (click)="changePasswordModal.show()">Change Password</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <strong>Salutation</strong>
                        </div>
                        <div class="col-md-8">
                            <span>{{vm.salutation}}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <strong>Surname</strong>
                        </div>
                        <div class="col-md-8">
                            <span>{{vm.lastName}}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <strong>Role</strong>
                        </div>
                        <div class="col-md-8">
                            <span>{{vm.roleName}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div bsModal #changePasswordModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-header-modal">
                <h4 class="modal-title">Change Password</h4>
                <button type="button" class="close" (click)="closeChangePasswordPopup()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-label-left input_mask" novalidate #changePasswordFrm="ngForm" (ngSubmit)="changPassword(changePasswordFrm.valid)" *ngIf="entity">
                    <div class="form-group row">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <strong>Old Password </strong>
                            <span class="text-danger">*</span>
                        </div>
                        <div class="col-md-6">
                            <input type="password" name="oldPassword" #oldPassword="ngModel" [(ngModel)]="entity.oldPassword" value="{{entity.oldPassword}}" maxlength="8" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8})" class="form-control" required>
                            <span [hidden]="oldPassword.valid || (oldPassword.pristine && !changePasswordFrm.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                                    <span class="fa fa-exclamation-triangle" *ngIf="oldPassword.errors?.required">
                                            Required!
                                        </span>
                            <span *ngIf="oldPassword.errors?.pattern">
                                    {{msgErrSpecialChar}}
                                        </span>
                            </span>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <strong>New Password </strong>
                            <span class="text-danger">*</span>
                        </div>
                        <div class="col-md-6">
                            <input type="password" name="newPassword" #newPassword="ngModel" [(ngModel)]="entity.newPassword" minlength="8" required pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8})" maxlength="8" class="form-control" placeholder="">
                            <span [hidden]="newPassword.valid || (newPassword.pristine && !changePasswordFrm.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                                <span *ngIf="newPassword.errors?.required" class="fa fa-exclamation-triangle">
                                    <i ></i> Required!
                                </span>
                            <span *ngIf="newPassword.errors?.pattern">
                                    >{{msgErrSpecialChar}}
                                </span>
                            </span>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <strong>Confirm Password </strong>
                            <span class="text-danger">*</span>
                        </div>
                        <div class="col-md-6">
                            <input type="password" name="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="entity.confirmPassword" minlength="8" required maxlength="8" class="form-control" validateEqual="newPassword" placeholder="">
                            <span [hidden]="confirmPassword.valid || (confirmPassword.pristine && !changePasswordFrm.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                                    <span *ngIf="confirmPassword.errors?.required">
                                        <i class="fa fa-exclamation-triangle"></i> Required!
                                    </span>
                            <span *ngIf="!confirmPassword.errors?.required && !confirmPassword.errors?.validateEqual">
                                        <i class="fa fa-exclamation-triangle"></i> Passwords do not match!
                                    </span>
                            </span>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-5"></div>
                        <div class="col-md-7">
                            <button type="button" class="btn btn-gray" (click)="closeChangePasswordPopup()">Cancel</button> &nbsp;
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Information</h4>
                <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body size-text-content-modal text-center">
                <div class="form-group row">
                    <div class="col-md-12">
                        <i class="fa fa-check-square-o icon-check-square"></i>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12 text-bold">
                        <span>{{msgInfo}}</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <button type="button" class="btn btn-success btn-block text-bold" (click)="infoModal.hide()">OK</button>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>