<form name="form" #f="ngForm" (ngSubmit)="f.form.valid && uploadDocument()" class="full-width">
    <div class="card header-margin">
        <div class="card-header">
            <strong>Details</strong>
        </div>
        <div class="card-body">
            <div class="body row">
                <div class="col-md 6 left">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <strong>Client Name</strong>
                        </div>
                        <div class="col-md-8">
                            <select id="account" name="account" #account="ngModel" [(ngModel)]="vm.account" (change)="changeAccount()" class="form-control" required>
                                <option *ngFor="let i of listClient" value="{{i.sfid}}">{{i.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <strong>Schedule Type<span class="text-danger">*</span></strong>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" name="scheduleType" #scheduleType="ngModel" [(ngModel)]="vm.scheduleType" (change)="hideShow($event.target.value)" required>
                                <option value="">-- Please Select --</option>
                                <option value="Invoice">Invoice</option>
                                <option value="Cash Disbursement">Cash Disbursement</option>
                                <option value="Credit note">Credit note</option>
                            </select>
                            <span [hidden]="scheduleType.valid || (scheduleType.pristine && !f.submitted && validate)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="scheduleType" data-valmsg-for="scheduleType" id="scheduleType_validationMessage"
                                role="alert">
                                    <i class="fa fa-exclamation-triangle"></i>Please select a Client Account.
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <strong>Amend Schedule &nbsp;<sup>&#9432;</sup></strong>
                        </div>
                        <div class="col-md-8">
                            <input type="checkbox" name="amendSchedule" #amendSchedule="ngModel" [(ngModel)]="vm.amendSchedule" required>
                            <span [hidden]="vm.amendSchedule || (amendSchedule.pristine && !f.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="amendSchedule" data-valmsg-for="amendSchedule" id="amendSchedule_validationMessage"
                                role="alert">
                                <i class="fa fa-exclamation-triangle"></i>Required
                        </span>
                        </div>
                    </div>
                </div>
                <div class="col-md 6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <strong>Client Account<span class="text-danger">*</span></strong>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" name="clientAccount" #clientAccount="ngModel" [(ngModel)]="vm.clientAccount" required>
                                    <option *ngFor="let i of listClientAccount" value="{{i.id}}">{{i.clientAccount}}</option>
                                </select>
                            <span [hidden]="clientAccount.valid || (clientAccount.pristine && !f.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="clientAccount" data-valmsg-for="clientAccount" id="clientAccount_validationMessage"
                                role="alert">
                                        <i class="fa fa-exclamation-triangle"></i>Please select a plan.
                                </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <strong>Amend Schedule No.</strong>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control none-border" name="scheduleNo" #scheduleNo="ngModel" [(ngModel)]="vm.scheduleNo" required/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" footer">
            <div class="card-header">
                <strong>File Upload</strong>
            </div>
            <div class="row">
                <div class="card-body col-md-6">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <div class="input-group file-upload">
                                <input type="file" name="ImportExcel" title="Select File" id="importData" accept=".xls,.xlsx" ng2FileSelect [uploader]="uploader" (change)="fileChanged($event)" class="file-upload-btn" />
                                <input type="text" class="form-control" placeholder="Choose a file..." value="{{(file !=null)? file.name :'' }}">
                                <i class="fa fa-times delete-file" (click)="removeFile()" *ngIf="file"></i>
                                <span class="input-group-append upload">
                                <button class="btn btn-primary" type="button"><i class="fa fa-upload"> </i></button>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body col-md-6">
                    <a *ngIf="!validate" href="../../../assets/excel/{{fileName}}" class="btn btn-primary download" download>Dowload Template</a>
                    <button *ngIf="validate" type="button" (click)="hideShow('Required')" class="btn btn-primary download">Dowload Template</button>
                </div>
            </div>
            {{message}}
            <div class="card-body col-md-6">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-4">
                        <button class="btn btn-primary btn-block" type="submit">Proceed</button>
                    </div>
                    <div class="col-md-2 cancel">
                        <button class="btn btn-gray btn-block" type="button" routerLink="../schedule">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>{{title}}</h4>
                <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
            </div>
            <div class="modal-body size-text-content-modal text-center">
                <div class="form-group row">
                    <div class="col-md-12">
                        <i class="fa fa-check-square-o icon-check-square"></i>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12 text-bold">
                        <span>{{msg}}</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <button type="button" class="btn btn-success btn-block text-bold" (click)="infoModal.hide()">OK</button>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>