<div class="card header-margin">
    <div class="card-header">
        <strong>Details</strong>
    </div>
    <div class="card-body">
        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && create()" class="full-width">
            <div class="body row">
                <div class="col-md 6 left">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <strong>Client Name</strong>
                        </div>
                        <div class="col-md-8">
                            <form action="" name="client">
                                <select class="form-control" name="account" #account="ngModel" [(ngModel)]="vm.account" (change)="changeAccount()">
                                    <option *ngFor="let i of listClient" value="{{i.sfid}}">{{i.name}}</option>
                                </select>
                            </form>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <strong>Schedule Type<span class="text-danger">*</span></strong>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" name="scheduleType" #scheduleType="ngModel" [(ngModel)]="vm.scheduleType">
                                <option value="">-- Please Select --</option>
                                <option value="Invoice">Invoice</option>
                                <option value="Cash Disbursement">Cash Disbursement</option>
                                <option value="Credit note">Credit note</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <strong>Amend Schedule &nbsp;<sup>&#9432;</sup></strong>
                        </div>
                        <div class="col-md-8">
                            <input type="checkbox" name="amendSchedule" #amendSchedule="ngModel" [(ngModel)]="vm.amendSchedule">
                        </div>
                    </div>
                </div>
                <div class="col-md 6">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <strong>Client Account<span class="text-danger">*</span></strong>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" name="clientAccount" #clientAccount="ngModel" [(ngModel)]="vm.clientAccount">
                            <option *ngFor="let i of listClientAccount" value="{{i.id}}">{{i.clientAccount}}</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4 sch-a-date">
                            <strong>Schedule Acceptance Date</strong>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="date" name="date" #scheduleNo="ngModel" [(ngModel)]="vm.date">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <strong>Amend Schedule No.</strong>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control none-border" name="scheduleNo" #scheduleNo="ngModel" [(ngModel)]="vm.scheduleNo" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class=" footer">
        <div class="card-header">
            <strong>File Upload</strong>
        </div>
        <div class="card-body col-md-6">
            <div class="form-group row">
                <div class="col-md-6">
                    <!-- <input type="file" class="form-control" name="ImportExcel" title="Select File" id="importData" accept=".xls,.xlsx" ng2FileSelect [uploader]="uploader" (change)="fileChanged($event)" /> -->
                    <div class="input-group file-upload">
                        <input type="file" name="ImportExcel" title="Select File" id="importData" accept=".xls,.xlsx" ng2FileSelect [uploader]="uploader" (change)="fileChanged($event)" class="file-upload-btn" />
                        <input type="text" class="form-control" placeholder="Choose a file..." value="{{file}}">
                        <i class="fa fa-times delete-file" (click)="removeFile()" *ngIf="file"></i>
                        <span class="input-group-append upload">
                            <button class="btn btn-primary" type="button"><i class="fa fa-upload"> </i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-2 cancel">
                    <button class="btn btn-primary btn-block" type="button" routerLink="../schedule">Cancel</button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6"></div>
                <div class="col-md-4">
                    <button class="btn btn-primary btn-block" type="button" (click)="uploadDocument()">Proceed</button>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="informationModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ title }}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                {{ msg }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>