.menu {
    background-color: lightgrey;
}

.modal-title {
    margin-left: 35%;
}

.schedule {
    width: 100%;
    height: 140%;
}

.schedule-date {
    width: 100%;
    height: 120%;
}

.cancel {
    padding: 0px;
}

.sch-a-date {
    padding-right: 0px;
}

.left {
    padding-right: 0px;
}