.app.combined .login-container .card,
.app.combined .register-container .card,
.app.combined .error-container .card {
    background-color: white;
    height: 100%;
    width: 100%
}

.app.combined .wrapper,
.app.combined .wrapper-inner {
    background-color: white;
}

.format-footer {
    display: flex;
    margin: auto;
}

.center {
    margin: 0px auto;
    height: 100%;
    padding-top: 15px;
}

.password {
    float: left;
    color: black;
}

.fomat-pw.row {
    text-align: left;
}

.login {
    float: left;
    color: black;
}

.signin {
    width: 100%;
    background-color: #305496 !important;
}

.cus_showEyes {
    margin-top: -27px !important;
    position: inherit;
    font-size: 18px;
    margin-right: 10px !important;
}

.row {
    margin-bottom: 15px;
}

.modal {
    top: 25%;
}