<div class="row" style="height:15%">
    <div style="padding-left:15px">
        <img style="height: 100%;" src="../../../assets/img/login/logo.png" />
    </div>
</div>
<div class="row" style="height:75%;">
    <div class="bg-img d-flex justify-content-center align-items-center w-100 h-100 login-container">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="modal-dialog" role="document" *ngIf="isShow">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="margin: auto">{{title}}</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal form-label-left input_mask" novalidate #forgotForm="ngForm" (ngSubmit)="checkExpired('Submit')">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label class="col-form-label" for="password">Password
                                            <span class="text-danger">*</span>
                                        </label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="{{type}}" name="password" #password="ngModel" [(ngModel)]="vm.password" minlength="8" required pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8})" maxlength="8" class="form-control" placeholder="">
                                        <a (click)="toggleShow()" class="fa cus_showEyes pull-right" [ngClass]="{'fa-eye-slash': !show , 'fa-eye': show}"> </a>
                                        <span [hidden]="password.valid || (password.pristine && !forgotForm.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="password" data-valmsg-for="password" id="password_validationMessage" role="alert">
                                            <span *ngIf="password.errors?.required">
                                                <i class="fa fa-exclamation-triangle"></i> Required!
                                            </span>
                                        <span *ngIf="password.errors?.pattern">
                                                <i class="fa fa-exclamation-triangle"></i> Password must be 8 characters and include numbers, uppercase and lowercase.
                                                Letters and one special character
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <label class="col-form-label" for="confirmPassword">Confirm password
                                            <span class="text-danger">*</span>
                                        </label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="{{typeConfirm}}" name="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="vm.confirmPassword" minlength="8" required maxlength="8" class="form-control" validateEqual="password" placeholder="">
                                        <span [hidden]="confirmPassword.valid || (confirmPassword.pristine && !forgotForm.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="confirmPassword" data-valmsg-for="confirmPassword" id="confirmPassword_validationMessage"
                                            role="alert">
                                            <span *ngIf="confirmPassword.errors?.required">
                                                <i class="fa fa-exclamation-triangle"></i> Required!
                                            </span>
                                        <span *ngIf="!confirmPassword.errors?.required && !confirmPassword.errors?.validateEqual">
                                                <i class="fa fa-exclamation-triangle"></i> Passwords do not match!
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-block" routerLink="/login">Cancel</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-primary btn-block" [disabled]="!forgotForm.form.valid || isOneSpecialChar">Login</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<div class="row" style="height: 10%;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="format-footer">
            <div class="center">
                <strong style="color: #305496;text-align: center;">&copy; 2018 - Copyright is held by IFS Capital Limited. All right reserved.
                </strong>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div bsModal #notify="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Confirmation</h4>
            </div>
            <div class="modal-body size-text-content-modal text-center">
                <!-- <div class="form-group row">
                    <div class="col-md-12">
                        <i class="fa fa-check-circle-o icon-check-square"></i>
                    </div>
                </div> -->
                <div class="form-group row">
                    <div class="col-md-12 text-bold">
                        <span>{{message}}</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <button type="button" class="btn btn-success btn-block text-bold" routerLink="/login">OK</button>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>