<div *ngIf="loader" class="loading">Loading&#8230;</div>
<section style="margin-top:150px; text-align: center; margin-bottom: 200px">
    <input id="welcomeDiv">
    <h1>Thank you for choosing Red Dot Power.</h1>
    <p>Thank you for signing up with us. You can download a copy of your
        <a style="cursor: pointer;" (click)="downloadFactSheet()"> Factsheet</a> and
        <a style="cursor: pointer;" (click)="downloadSalesAgreement()"> Sales Agreement</a> for your records. Your submission reference number is {{webReferenceNo}}.
    </p>
    <p>If you have any queries regarding your sign up, you may quote your reference number and email to homes@reddotpower.com.sg.</p>
</section>